.projects{
    /* background-color: antiquewhite; */
    /* color: black; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-top: 10%;

    /* gap: 1em; */
    flex-direction: column;
    height: auto;
    width: 100%;
    flex-shrink: 0;
    /* overflow-y: visible; */
}

.projects h1{
        padding-bottom: 5vh;
}