.contact{
    /* background-color: antiquewhite; */
    /* color: black; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-top: 10%;

    /* gap: 1em; */
    flex-direction: column;
    height: calc(100% - 76px);
    width: 100%;
    flex-shrink: 0;
    padding-bottom: 1%;
}

.contact h1{
    padding-bottom: 5vh;
}


.buttonContainer{
    /* background-color: antiquewhite; */
    width: 60vw;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    flex-wrap: wrap;
    gap: 2vw;
}

.buttonContainer button{
    font-size: large;
}

.footer{
    height: 100%;
    /* background-color: aliceblue; */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    gap: 0.5vh;
}

/* @media screen and (max-width: 1280px) {
    .buttonContainer{

    }
} */